<header class="header">
    <div class="header__logo-box">
      <%= image_tag('rona-logo.png', class: 'header__logo', alt: 'Logo') %>
    </div>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Rona Trgovina</span>
        <span class="heading-primary--sub">Prodaja žarnic in svetil</span>
      </h1>
      <%# <a href="#" class="btn btn--white btn--animated">Discover out tours</a> %>
    </div>
  </header>

  <main>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Prodaja žarnic in svetil
        </h2>
      </div>
      <div class="row">
          <div class="col-1-of-2">
            <h3 class="heading-tertiary u-margin-bottom-small">
              You're going to fall in love with nature
            </h3>
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
            <h3 class="heading-tertiary u-margin-bottom-small">
              Live adventures like you never have before
            </h3>
            <p class="paragraph u-margin-bottom-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <%# <a class="btn-text" href="#">Learn more &rarr;</a> %>
          </div>
          <div class="col-1-of-2">
              <div class="composition">
                <%= image_tag('nat-1-large.jpg', class: 'composition__photo composition__photo--p1', alt: '') %>
              <%= image_tag('nat-2-large.jpg', class: 'composition__photo composition__photo--p2', alt: '') %>
              <%= image_tag('nat-3-large.jpg', class: 'composition__photo composition__photo--p3', alt: '') %>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="section-features">
      <div class="row">
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon"><%= fa_icon "globe" %></i>
            <h3 class="heading-tertiary u-margin-bottom-small">neki neki</h3>
            <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon"><%= fa_icon "compass" %></i>
            <h3 class="heading-tertiary u-margin-bottom-small">neki neki</h3>
            <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon"><%= fa_icon "map" %></i>
            <h3 class="heading-tertiary u-margin-bottom-small">neki neki</h3>
            <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon"><%= fa_icon "heart" %></i>
            <h3 class="heading-tertiary u-margin-bottom-small">neki neki</h3>
            <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-tours">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Most popular lamps...
        </h2>
      </div>
      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">
                  heading heading
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>neki</li>
                  <li>neki neki</li>
                  <li>neki</li>
                  <li>neki neki neki</li>
                  <li>neki neki</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back--1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <p class="card__price-value">200€</p>
                </div>
                <a class="btn btn--white" href="#">GUMB</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--2">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2">
                  heading heading
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>neki</li>
                  <li>neki neki</li>
                  <li>neki</li>
                  <li>neki neki neki</li>
                  <li>neki neki</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back--2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <p class="card__price-value">200€</p>
                </div>
                <a class="btn btn--white" href="#">GUMB</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--3">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3">
                  heading heading
                </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>neki</li>
                  <li>neki neki</li>
                  <li>neki</li>
                  <li>neki neki neki</li>
                  <li>neki neki</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back--3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <p class="card__price-value">200€</p>
                </div>
                <a class="btn btn--white" href="#">GUMB</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--blue">All stuff</a>
      </div>
    </section>

    <section class="section-stories">
      <%# <div class="bg-video" autoplay muted loop>
        <video class="bg-video__content">
          <source src="bg-video.mp4" type="video/mp4">
          <source src="bg-video.webm" type="video/webm">
          Your browser is not supported!
        </video>
      </div> %>
      <div class="bg-video" autoplay muted loop>
        <%= video_tag(["bg-video.mp4", "bg-video.webm"], autoplay: true, muted: true, loop: true) %>
      </div>
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Most popular lamps...
        </h2>
      </div>

      <div class="row">
        <div class="story">
          <figure class="story__shape">
            <%= image_tag('nat-1-large.jpg', alt: 'image', class: 'story__image') %>
            <figcaption class="story__caption">Caption</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">
              heading 3
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="story">
          <figure class="story__shape">
            <%= image_tag('nat-1-large.jpg', alt: 'image', class: 'story__image') %>
            <figcaption class="story__caption">Caption</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">
              heading 3
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--white">GUMB</a>
      </div>

    </section>


  </main>


  <!-- 
        <section class="grid-test">
            <div class="row">
              <div class="col-1-of-2">Col 1 of 2</div>
              <div class="col-1-of-2">Col 1 of 2</div>
            </div>
            <div class="row">
                <div class="col-1-of-3">Col 1 of 3</div>
                <div class="col-1-of-3">Col 1 of 3</div>
                <div class="col-1-of-3">Col 1 of 3</div>
            </div>
            <div class="row">
                <div class="col-1-of-3">Col 1 of 3</div>
                <div class="col-2-of-3">Col 2 of 3</div>
            </div>
            <div class="row">
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-1-of-4">Col 1 of 4</div>
            </div>
            <div class="row">
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-2-of-4">Col 2 of 4</div>
            </div>
            <div class="row">
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-3-of-4">Col 3 of 4</div>
            </div>
          </section>
       -->